body {
    background: url('images/background-photo.png'), 
     #191919;
    background-size: contain; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-blend-mode: overlay;
}

.about-header {
    color: whitesmoke;
    
}

.typewrite {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 200;
    font-style: italic;
}

.typewrite:hover {
    cursor: inherit;
}

.about-me-paragraph {
    color: whitesmoke;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 17px;
}

.techstack-area {
    background-color: #2b2b2b;
    color: whitesmoke;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.row-2-tech {
    margin-top: 0 !important;
}

h3 {
    font-family: 'Montserrat', serif;
}

.fa-brands,
.fa-solid,
.techstack-text {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.techstack-row {
    width: 50%;
}

.footer-link {
    color: whitesmoke;
  }
  
  footer {
    color: whitesmoke;
    font-size: 15px;
    padding-top: 50px;
  }

  
  @media (max-width: 765px) {
   
    body {
        background: #191919;
    }  

    .about-header, .about-me-paragraph {
        text-align: center;
    }

    .about-header {
        font-size: 25px;
    }

    .btn {
        width: 110px !important;
      }
    
      footer {
        font-size: 10px;
      }
    
      svg {
        display: none;
    }    

}


.home-btn-start,
.home-btn-end {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid whitesmoke;
  outline: none;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
}

svg {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.home-btn-start:hover,
.home-btn-end:hover {
  background: #191919;
}

.home-btn-start:hover svg,
.home-btn-end:hover svg {
  stroke-dashoffset: -480;
}

.home-btn-start span,
.home-btn-end span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
