body {
  background-image: url('images/rafael-de-nadai-b0eg-PYGICQ-unsplash.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

h2,
h3 {
  text-align: center;
}

nav {
  background: transparent;
  margin-bottom: 30px;
}

.typed {
  transition: color 0.3s ease;
}

.socials {
  transition: color 0.3s ease;
}


.myname {
  font-size: 96px;
  color: #303134;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.typed-container {
  display: inline-block;
  margin-left: 100px;
}

.socials {
  width: 65px;
}

.typed {
  color: #30353a;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; 
  border-right: .16em solid;
  white-space: nowrap;
  margin: 0 auto; 
  position: relative;
  width: 17em;
  text-align: center;
  animation: 
    typing 2.5s steps(40) 1s 1 normal both,
    blink-caret 0.75s 3s infinite,
    hide-caret 0.5s forwards 5s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 17em }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: gray; }
}

@keyframes hide-caret {
  to {
    border-color: transparent;
  }
}

.dark-area-1 {
  background-color: #191919;
  color: whitesmoke;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 90px;
  margin-top: 40px;
}

.home-description {
  font-family: Georgia, serif;
  font-size: 25px;
  text-align: center;
  padding: 40px;
  opacity: 85%;
}

.button-background-move {
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding: 6px 6px;
  outline: 0;
  border: 2px solid #1d1e22;
  cursor: pointer;
  position: relative;
  background-color: #1d1e22;
  color: whitesmoke;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: .75rem 3rem;
}

.button-background-move:after {
  content: "";
  border-radius: 3px;
  background-color: #30353a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}

.button-background-move:hover:after {
  top: 0px;
  left: 0px;
}

.button-perspective {
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding: 6px 6px;
  outline: 0;
  border: 2px solid #30353a;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: #909599;
  padding: .75rem 3rem;
}

.button-perspective:focus {
  outline: 0;
}

.button-perspective:after {
  content: "";
  background-color: #191919;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}

.button-perspective:hover:after {
  top: 0px;
  left: 0px;
}

.footer-link {
  color: whitesmoke;
}

footer {
  color: whitesmoke;
  font-size: 15px;
  padding-top: 50px;
}

@media (max-width: 320px) {
  .button-perspective {
    padding: .75rem 2rem;
  }

  .button-background-move {
    padding: .75rem 2rem;
  }

  .dark-area-1 {
    width: 100%;
  }

  h2 {
    font-size: 36px;
  }
  .myname {
    font-size: 46px;
  }

  .typed {
    font-size: 18px;
  }

  .home-description {
    padding: 0;
    font-size: 18px;
  }

  .button-background-move, .button-perspective {
    padding: 10px;
  }
}