body {
  background-image: url('images/city-background.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; 
}

h2,
h3 {
  text-align: center;
  
}

nav {
  background: transparent;
  margin-bottom: 30px;
}

.typed {
  transition: color 0.3s ease;
}

.socials {
  transition: color 0.3s ease;
  width: 65px;
}


.myname {
  font-size: 96px;
  color: #303134;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.typed-container {
  display: inline-block;
  margin-left: 100px;
}


.typed {
  color: #30353a;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; 
  border-right: .16em solid;
  white-space: nowrap;
  margin: 0 auto; 
  position: relative;
  width: 17em;
  text-align: center;
  animation: 
    typing 2.5s steps(40) 1s 1 normal both,
    blink-caret 0.75s 3s infinite,
    hide-caret 0.5s forwards 5s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 17em }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: gray; }
}

@keyframes hide-caret {
  to {
    border-color: transparent;
  }
}

.dark-area-1 {
  background-color: #191919;
  color: whitesmoke;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 90px;
  margin-top: 40px;  
}

.home-description {
  color: whitesmoke;
  font-family: Georgia, serif;
  font-size: 25px;
  text-align: center;
  padding: 40px;
}

.footer-link {
  color: whitesmoke;
}

footer {
  color: whitesmoke;
  font-size: 15px;
  padding-top: 50px;
}

@media (max-width: 765px) {
   .dark-area-1 {
    width: 100% !important;
  }

  h2 {
    font-size: 36px;
  }
  .myname {
    font-size: 46px;
  }

  .typed {
    font-size: 18px;
  }

  .home-description {
    padding: 0;
    font-size: 18px;
  }

  .btn {
    width: 110px !important;
  }

  footer {
    font-size: 10px;
  }

  svg {
    display: none;
}

}
.home-btn-start,
.home-btn-end {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid whitesmoke;
  outline: none;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
}

svg {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.home-btn-start:hover,
.home-btn-end:hover {
  background: #303134;
}

.home-btn-start:hover svg,
.home-btn-end:hover svg {
  stroke-dashoffset: -480;
}

.home-btn-start span,
.home-btn-end span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


